<% @page_title = 'Welcome to Talgo Expense Reporting System' -%>

	<div>	
		<h>If you already have an account, please sign in first. </br> </br>
		   By signing in to the system, authroized users can:
		   <ul>
		   	  <li>Manage Expense Reports </li>
			  <li>Manage Projects, Cost Centers and GL Accounts</li>
			  <li>Manage Expense Types</li>
			  <li>Administer User Accounts</li>
		   <ul>
		<h>
	</div>

